---
layout: post
---
{% include darkmode.html %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

{%- assign pagetags = page.tags | sort -%}
{%- for tag in pagetags -%}
<img src="{{site.baseurl}}/tag-solid.svg" height="20"><a href="{{site.baseurl}}/tag/{{tag}}">{{tag}} &nbsp;&nbsp;&nbsp; </a>
{%- endfor -%}
<br>
<br>


{{ content }}

<script>
  let codeBlocks = document.getElementsByTagName('pre');
  for(let codeBlock of codeBlocks)
  {
    let code = codeBlock.innerText.trim();
    // console.log(codeBlock, codeBlock.children, code);
    let copyButton = document.createElement('button');
    // copyButton.type = 'button';
    // let svghtml = '<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-copy js-clipboard-copy-icon m-2"> </svg>';
    let svghtml = '<svg height="16" width="16"><style>path{fill:black;}@media(prefers-color-scheme:dark){path{fill:white;}}</style><path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path><path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path></svg>'
    copyButton.innerHTML = svghtml;
    // codeBlock.style="position:relative;";
    // copyButton.style="position:absolute; top:0px; right:0px;";
    codeBlock.append(copyButton);
    codeBlock.classList.add("codeBlk");
    copyButton.classList.add("copyBtn");


    copyButton.addEventListener('click', function () {
    window.navigator.clipboard.writeText(code);
    copyButton.innerText = 'Copied';
    var fourSeconds = 400;
    setTimeout(function () {
      copyButton.innerHTML = svghtml;
    }, fourSeconds);
    });
  }
</script>

<style>
  /* Copy buttons */
.copyBtn {
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.codeBlk:hover .copyBtn, .codeBlk .copyBtn:focus {
    opacity: .8;
}
.codeBlk .copyBtn:hover {
    opacity: 1;
}
.codeBlk {
    position: relative;
}
</style>